__pycache__/
*.py[cod]
*$py.class
data/*
!data/.gitkeep
.venv
/settings-*.yaml
*.ignoreme
reports/*
!reports/.gitkeep
.idea/
.vscode/
/public
.secret
.env
config/envs/testing
.DS_Store
.pytest_cache
.mypy_cache
*.db
celerybeat-schedule
media/
.coverage
.env
*.egg-info/
.static
poetry.lock
